body{
    margin: 0;
    line-height: normal;


}

.header-banner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 788px;
    object-fit: cover;
}

.banner-opacity {
    position: absolute;
    top: 88px;
    left: calc(50% - 720px);
    background-color: rgba(0, 0, 0, 0.25);
    width: 1440px;
    height: 500px;
}

.explore-o-mundo {
    position: absolute;
    top: 311px;
    left: 543px;
    font-size: 48px;
    font-family: 'Post No Bills Colombo ExtraBold';
    color: #fff;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.75);
}
.nav-menu {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(116, 125, 255, 0.35);
    width: 1440px;
    height: 88px;
}
.nav-menu1 {
    position: absolute;
    top: 588px;
    left: calc(50% - 720px);
    background-color: rgba(116, 125, 255, 0.35);
    width: 1440px;
    height: 200px;
}
.booking-and-calendar {
    position: absolute;
    top: 618px;
    left: calc(50% - 652px);
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 1303px;
    height: 140px;
}
.button {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    background-color: #ffad32;
    width: 210px;
    height: 50px;
}
.saiba-mais {
    position: absolute;
    top: 9px;
    left: 45px;
}
.button-parent {
    position: absolute;
    top: 1411px;
    left: 68px;
    width: 210px;
    height: 50px;
    text-align: left;
    font-size: 20.8px;
    color: #fff;
}

.travel-website-child {
    position: absolute;
    top: 1318px;
    left: 1059px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: #fff;
    width: 324px;
    height: 324px;
}
.travel04-icon {
    position: absolute;
    top: 1330px;
    left: 1071px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.travel-website-item {
    position: absolute;
    top: 1318px;
    left: 707px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: #fff;
    width: 324px;
    height: 324px;
}
.travel03-icon {
    position: absolute;
    top: 1330px;
    left: 719px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.travel-website-inner {
    position: absolute;
    top: 957px;
    left: 1059px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: #fff;
    width: 324px;
    height: 324px;
}
.travel02-icon {
    position: absolute;
    top: 970px;
    left: 1071px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.rectangle-div {
    position: absolute;
    top: 957px;
    left: 707px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: #fff;
    width: 324px;
    height: 324px;
}
.travel01-icon {
    position: absolute;
    top: 970px;
    left: 719px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.prximos-passeios {
    position: absolute;
    top: 970px;
    left: 68px;
    font-size: 36px;
    text-transform: capitalize;
    font-family: Lobster;
    color: #747dff;
    text-align: left;
}

.eligendi-unde-neque {
    position: absolute;
    top: 1086px;
    left: 66px;
    display: inline-block;
    width: 590px;
    height: 360px;
}
.travel-website-child1 {
    position: absolute;
    top: 1799px;
    left: calc(50% - 720px);
    background: linear-gradient(65.68deg, #ffe7c2, #bdacff);
    width: 1440px;
    height: 1438px;
}
.para-onde-voc {
    position: absolute;
    top: 1888px;
    left: calc(50% - 195px);
    font-size: 36px;
    font-family: Lobster;
    color: #747dff;
    text-align: left;
}
.buenas-viagens {
    position: absolute;
    top: 14px;
    left: 68px;
    font-size: 40px;
    font-family: Lobster;
    color: #fff;
}
.milan-base {
    position: absolute;
    top: 1982px;
    left: 44px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: #fff;
    width: 424px;
    height: 536px;
}
.milan-pic-icon {
    position: absolute;
    top: 1994px;
    left: 56px;
    border-radius: 4px 4px 0px 0px;
    width: 400px;
    height: 360px;
    object-fit: cover;
}
.espanha {
    font-size: 16px;
}
.barcelona-espanha {
    position: absolute;
    top: 2364px;
    left: 66px;
}
.r-390000 {
    position: absolute;
    top: 2457px;
    left: 66px;
}
.r-440000 {
    position: absolute;
    top: 2466px;
    left: 194px;
    font-size: 12px;
    text-decoration: line-through;
    color: #767f86;
}
.button1 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 6.11px;
    background-color: #ffad32;
    width: 135.6px;
    height: 39.1px;
}
.saiba-mais1 {
    position: absolute;
    top: 7px;
    left: 21px;
}
.button-group {
    position: absolute;
    top: 2452px;
    left: 310px;
    width: 135.6px;
    height: 39.1px;
    text-align: left;
    font-size: 16.39px;
    color: #fff;
}
.pariatur-autem-harum {
    position: absolute;
    top: 2406px;
    left: 66px;
    font-size: 14px;
    white-space: pre-wrap;
    text-align: left;
    display: inline-block;
    width: 400px;
    height: 42px;
}
.milan-base1 {
    position: absolute;
    top: 1982px;
    left: 508px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: #fff;
    width: 424px;
    height: 536px;
}
.milan-pic-icon1 {
    position: absolute;
    top: calc(50% - 215.5px);
    left: 520px;
    border-radius: 4px 4px 0px 0px;
    width: 400px;
    height: 360px;
    object-fit: cover;
}
.porto-portugal {
    position: absolute;
    top: 2364px;
    left: 530px;
}
.r-370000 {
    position: absolute;
    top: 2457px;
    left: 530px;
}
.r-430000 {
    position: absolute;
    top: 2466px;
    left: 658px;
    font-size: 12px;
    text-decoration: line-through;
    color: #767f86;
}
.saiba-mais2 {
    position: absolute;
    top: 7px;
    left: 20px;
}
.button-container {
    position: absolute;
    top: 2452px;
    left: 774px;
    width: 135.6px;
    height: 39.1px;
    text-align: left;
    font-size: 16.39px;
    color: #fff;
}
.pariatur-autem-harum1 {
    position: absolute;
    top: 2406px;
    left: 530px;
    font-size: 14px;
    text-align: left;
    display: inline-block;
    width: 400px;
    height: 42px;
}
.milan-base2 {
    position: absolute;
    top: 1982px;
    left: 972px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: #fff;
    width: 424px;
    height: 536px;
}
.milan-pic-icon2 {
    position: absolute;
    top: 1994px;
    left: 984px;
    border-radius: 4px 4px 0px 0px;
    width: 400px;
    height: 360px;
    object-fit: cover;
}
.milo-itlia {
    position: absolute;
    top: 2364px;
    left: 994px;
}
.r-350000 {
    position: absolute;
    top: 2457px;
    left: 994px;
}
.r-420000 {
    position: absolute;
    top: 2466px;
    left: 1122px;
    font-size: 12px;
    text-decoration: line-through;
    color: #767f86;
}
.group-div {
    position: absolute;
    top: 2452px;
    left: 1238px;
    width: 135.6px;
    height: 39.1px;
    text-align: left;
    font-size: 16.39px;
    color: #fff;
}
.pariatur-autem-harum2 {
    position: absolute;
    top: 2406px;
    left: 994px;
    font-size: 14px;
    text-align: left;
    display: inline-block;
    width: 400px;
    height: 42px;
}
.milan-base3 {
    position: absolute;
    top: 2562px;
    left: 44px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: #fff;
    width: 424px;
    height: 536px;
}
.milan-pic-icon3 {
    position: absolute;
    top: 2574px;
    left: 56px;
    border-radius: 4px 4px 0px 0px;
    width: 400px;
    height: 360px;
    object-fit: cover;
}
.londres-inglaterra {
    position: absolute;
    top: 2944px;
    left: 66px;
}
.r-4200001 {
    position: absolute;
    top: 3037px;
    left: 66px;
}
.r-490000 {
    position: absolute;
    top: 3046px;
    left: 194px;
    font-size: 12px;
    text-decoration: line-through;
    color: #767f86;
}
.button-parent1 {
    position: absolute;
    top: 3032px;
    left: 310px;
    width: 135.6px;
    height: 39.1px;
    text-align: left;
    font-size: 16.39px;
    color: #fff;
}
.pariatur-autem-harum3 {
    position: absolute;
    top: 2986px;
    left: 66px;
    font-size: 14px;
    text-align: left;
    display: inline-block;
    width: 400px;
    height: 42px;
}
.milan-base4 {
    position: absolute;
    top: 2562px;
    left: 508px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: #fff;
    width: 424px;
    height: 536px;
}
.milan-pic-icon4 {
    position: absolute;
    top: 2574px;
    left: 520px;
    border-radius: 4px 4px 0px 0px;
    width: 400px;
    height: 360px;
    object-fit: cover;
}
.lauterbrunnen-suia {
    position: absolute;
    top: 2944px;
    left: 530px;
}
.r-3900001 {
    position: absolute;
    top: 3037px;
    left: 530px;
}
.r-4300001 {
    position: absolute;
    top: 3046px;
    left: 658px;
    font-size: 12px;
    text-decoration: line-through;
    color: #767f86;
}
.button-parent2 {
    position: absolute;
    top: 3032px;
    left: 774px;
    width: 135.6px;
    height: 39.1px;
    text-align: left;
    font-size: 16.39px;
    color: #fff;
}
.pariatur-autem-harum4 {
    position: absolute;
    top: 2986px;
    left: 530px;
    font-size: 14px;
    text-align: left;
    display: inline-block;
    width: 400px;
    height: 42px;
}
.milan-base5 {
    position: absolute;
    top: 2562px;
    left: 972px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: #fff;
    width: 424px;
    height: 536px;
}
.milan-pic-icon5 {
    position: absolute;
    top: 2574px;
    left: 984px;
    border-radius: 4px 4px 0px 0px;
    width: 400px;
    height: 360px;
    object-fit: cover;
}
.paris-frana {
    position: absolute;
    top: 2944px;
    left: 994px;
}
.r-450000 {
    position: absolute;
    top: 3037px;
    left: 994px;
}
.r-530000 {
    position: absolute;
    top: 3046px;
    left: 1122px;
    font-size: 12px;
    text-decoration: line-through;
    color: #767f86;
}
.button-parent3 {
    position: absolute;
    top: 3032px;
    left: 1238px;
    width: 135.6px;
    height: 39.1px;
    text-align: left;
    font-size: 16.39px;
    color: #fff;
}
.pariatur-autem-harum5 {
    position: absolute;
    top: 2986px;
    left: 994px;
    font-size: 14px;
    text-align: left;
    display: inline-block;
    width: 400px;
    height: 42px;
}
.travel-website-child2 {
    position: absolute;
    top: 4340px;
    left: 0px;
    background-color: #747dff;
    width: 1440px;
    height: 79px;
}
.avaliaes-dos-clientes {
    position: absolute;
    top: 3403px;
    left: calc(50% - 157px);
    font-size: 36px;
    font-family: Lobster;
    color: #747dff;
    text-align: left;
}
.facilis-nemo-molestias {
    position: absolute;
    top: 3479px;
    left: calc(50% - 514px);
    display: inline-block;
    color: #767f86;
    text-align: center;
    width: 1028px;
    height: 263px;
}

.group-icon {
    position: absolute;
    top: 3634px;
    left: 605px;
    width: 232px;
    height: 232px;
    object-fit: cover;
}
.patrcia {
    font-weight: 700;
}
.patrcia-jornalista {
    position: absolute;
    top: 3892px;
    left: calc(50% - 106px);
    color: #767f86;
}
.home {
    position: absolute;
    top: 26px;
    left: 713px;
    font-size: 24px;
    color: #fff;
    transition: color 0.3s ease;
}
.passeios {
    position: absolute;
    top: 26px;
    left: 874px;
    font-size: 24px;
    color: #fff;
    transition: color 0.3s ease;
}
.destinos {
    position: absolute;
    top: 26px;
    left: 1053px;
    font-size: 24px;
    color: #fff;
    transition: color 0.3s ease;
}
.avaliacoes {
    position: absolute;
    top: 26px;
    left: 1216px;
    font-size: 24px;
    color: #fff;
    transition: color 0.3s ease;
}

.home:hover, .passeios:hover, .destinos:hover, .avaliacoes:hover {
    color: orange; /* Cor laranja ao passar o mouse */
}


.travel-website-child3 {
    position: absolute;
    top: 4010px;
    left: calc(50% - 720px);
    background-color: #3c4852;
    width: 1440px;
    height: 330px;
}
.buenas-viagens1 {
    position: absolute;
    top: 4049px;
    left: 94px;
    font-size: 36px;
    font-family: Lobster;
    color: #b8c0c7;
}
.buenas-viagens2 {
    position: absolute;
    top: 0px;
    left: 0px;
}
.avenida-da-boa {
    position: absolute;
    top: 23px;
    left: 0px;
}
.buenas-viagens-turismo-sa-parent {
    position: absolute;
    top: 4124px;
    left: 94px;
    width: 333px;
    height: 47px;
    font-size: 16px;
    color: #b8c0c7;
}
.buenas-viagens3 {
    margin: 0;
}
.buenas-viagens-container {
    position: absolute;
    top: 4201px;
    left: 94px;
    font-size: 16px;
    color: #b8c0c7;
}
.nossos-parceiros {
    position: absolute;
    top: 4055px;
    left: 535px;
    text-transform: uppercase;
    color: #b8c0c7;
}
.consectetur-adipisicing {
    position: absolute;
    top: 4099px;
    left: 535px;
    font-size: 14px;
    text-transform: capitalize;
    color: #b8c0c7;
    display: inline-block;
    width: 174px;
    height: 23px;
}
.pariatur-autem-harum6 {
    position: absolute;
    top: 4125px;
    left: 535px;
    font-size: 14px;
    text-transform: capitalize;
    color: #b8c0c7;
}
.distinctio-laudantium-ducimus {
    position: absolute;
    top: 4151px;
    left: 535px;
    font-size: 14px;
    text-transform: capitalize;
    color: #b8c0c7;
}
.temporibus-vel-magnam {
    position: absolute;
    top: 4177px;
    left: 535px;
    font-size: 14px;
    text-transform: capitalize;
    color: #b8c0c7;
}
.commodi-sed-quaerat {
    position: absolute;
    top: 4203px;
    left: 535px;
    font-size: 14px;
    text-transform: capitalize;
    color: #b8c0c7;
}
.quas-perspiciatis-blanditiis {
    position: absolute;
    top: 4229px;
    left: 535px;
    font-size: 14px;
    text-transform: capitalize;
    color: #b8c0c7;
}
.aspernatur {
    position: absolute;
    top: 4254px;
    left: 535px;
    font-size: 14px;
    text-transform: capitalize;
    color: #b8c0c7;
}
.assine-a-nossa {
    position: absolute;
    top: 4055px;
    left: 962px;
    text-transform: uppercase;
    color: #b8c0c7;
}
.siga-nossas-redes{
    
    position: relative;
    top: 4200px;
    left: 962px;
    text-transform: uppercase;
    color: #b8c0c7;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    width: 309px;
    height: 37px;
}

.informe-seu-e-mail {
    position: absolute;
    top: 8px;
    left: 17px;
}
.rectangle-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 309px;
    height: 37px;
}
.button7 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    background-color: #ffad32;
    width: 81px;
    height: 37px;
}
.enviar {
    position: absolute;
    top: 7px;
    left: 15px;
}
.button-parent4 {
    position: absolute;
    top: 0px;
    left: 318px;
    width: 81px;
    height: 37px;
    text-align: left;
    font-size: 16px;
    color: #fff;
}
.group-parent {
    position: absolute;
    top: 4106px;
    left: 962px;
    width: 399px;
    height: 37px;
    font-size: 14px;
    color: #b8c0c7;
}
.line-div {
    position: absolute;
    top: 4175.5px;
    left: 962.5px;
    border-top: 1px solid #b8c0c7;
    box-sizing: border-box;
    width: 399px;
    height: 1px;
}
.ellipse-div {
    position: absolute;
    top: 4239px;
    left: 962px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0);
    border: 2px solid #b8c0c7;
    box-sizing: border-box;
    width: 41px;
    height: 41px;
}
.facebook-logo-1-icon  {
    
    position: absolute;
    top: 4242px;
    left: 965px;
    width: 35px;
    height: 35px;
    object-fit: cover;
    transition: color 0.3s ease;
}

.facebook-logo-1-icon:hover {
    filter: sepia(1) saturate(5) hue-rotate(-25deg); /* Aproxima um laranja */
}


.travel-website-child4 {
    position: absolute;
    top: 4239px;
    left: 1022px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0);
    border: 2px solid #b8c0c7;
    box-sizing: border-box;
    width: 41px;
    height: 41px;
}
.instagram-logo-1-icon{
    
    position: absolute;
    top: 4241px;
    left: 1024px;
    width: 37px;
    height: 37px;
    object-fit: cover;
    transition: color 0.3s ease;
}

.instagram-logo-1-icon:hover {
    filter: sepia(1) saturate(5) hue-rotate(-25deg); /* Aproxima um laranja */
}

.travel-website-child5 {
    position: absolute;
    top: 4239px;
    left: 1082px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0);
    border: 2px solid #b8c0c7;
    box-sizing: border-box;
    width: 41px;
    height: 41px;
}
.twitter-logo-1-icon {
    position: absolute;
    top: 4241px;
    left: 1084px;
    width: 37px;
    height: 37px;
    object-fit: cover;
    transition: color 0.3s ease;
}

.twitter-logo-1-icon:hover {
    filter: sepia(1) saturate(5) hue-rotate(-25deg); /* Aproxima um laranja */
}


.buscar {
    position: absolute;
    top: 9px;
    left: 67px;
}
.button-parent5 {
    position: absolute;
    top: 680px;
    left: 1135px;
    width: 210px;
    height: 50px;
    text-align: left;
    font-size: 20.8px;
    color: #fff;
}
.para-onde-vamos {
    position: absolute;
    top: 645px;
    left: 100px;
    font-size: 20.8px;
    color: #767f86;
    text-align: left;
}
.quando {
    position: absolute;
    top: 645px;
    left: 517px;
    font-size: 20.8px;
    color: #767f86;
    text-align: left;
}
.retorno {
    position: absolute;
    top: 645px;
    left: 818px;
    font-size: 20.8px;
    color: #767f86;
    text-align: left;
}
.travel-website-child6 {
    position: absolute;
    top: 680px;
    left: 99px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #b8c0c7;
    box-sizing: border-box;
    width: 405px;
    height: 50px;
}
.travel-website-child7 {
    position: absolute;
    top: 692px;
    left: 111px;
    border-right: 2px solid #999;
    box-sizing: border-box;
    width: 2px;
    height: 26px;
}
.travel-website-child8 {
    position: absolute;
    top: 680px;
    left: 516px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #b8c0c7;
    box-sizing: border-box;
    width: 289px;
    height: 50px;
}
.calendar-2-icon {
    position: absolute;
    top: 688px;
    left: 766px;
    width: 30px;
    height: 33px;
    object-fit: cover;
}
.ddmmaaaa {
    position: absolute;
    top: 690px;
    left: 530px;
    letter-spacing: 0.08em;
    color: #767f86;
    text-align: left;
}
.travel-website-child9 {
    position: absolute;
    top: 680px;
    left: 818px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #b8c0c7;
    box-sizing: border-box;
    width: 289px;
    height: 50px;
}
.calendar-2-icon1 {
    position: absolute;
    top: 688px;
    left: 1068px;
    width: 30px;
    height: 33px;
    object-fit: cover;
}
.ddmmaaaa1 {
    position: absolute;
    top: 690px;
    left: 832px;
    letter-spacing: 0.08em;
    color: #767f86;
    text-align: left;
}
.group-item {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 8px;
    background-color: #b8c0c7;
    width: 36px;
    height: 52px;
}
.b {
    position: absolute;
    top: 5px;
    left: 10px;
    display: inline-block;
    width: 16.6px;
    height: 40.7px;
}
.rectangle-group {
    position: absolute;
    top: 3669px;
    left: 146px;
    width: 36px;
    height: 52px;
    text-align: center;
    font-size: 36px;
    color: #fff;
    font-family: Puritan;
}
.travel-website-child10 {
    position: absolute;
    top: 3669px;
    left: 1258px;
    width: 36px;
    height: 52px;
    object-fit: contain;
}
.travel-website {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 4419px;
    overflow: hidden;
    text-align: justify;
    font-size: 20px;
    color: #3c4852;
    font-family: Poppins;
}

